[submodule "backend"]
	path = backend
	url = https://github.com/March-08/adaptive-agents.git
	branch = main
[submodule "frontend"]
	path = frontend
	url = https://github.com/March-08/Adaptive-Agents-UI.git
	branch = main
